<header>
  <div class="header-container">
    <div class="logo-container">
      <img src="logo.png" alt="elakaromadni logo" class="logo-image">
      <a routerLink="/" class="logo-text">elakaromadni</a>
    </div>
    
    <nav>
      <ng-container *ngIf="authService.isLoggedIn(); else notLoggedIn">
        <a mat-button routerLink="/ads">Browse Cars</a>
        <a mat-button routerLink="/add-ad">Sell Your Car</a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">Profile</button>
          <button mat-menu-item (click)="onLogout()">Logout</button>
          <button mat-menu-item routerLink="/my-ads">My Ads</button>
        </mat-menu>
      </ng-container>
      
      <ng-template #notLoggedIn>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register" color="primary">Register</a>
      </ng-template>
    </nav>
  </div>
</header>