<mat-toolbar color="primary" class="header-container">
  <div class="brand-container" routerLink="/">
    <img src="logo.png" alt="Logo" class="logo">
    <span class="brand-text">Elakaromadni.hu</span>
  </div>

  <nav class="desktop-nav">
    <a mat-button routerLink="/ads">Hirdetések</a>
    
    <ng-container *ngIf="authService.isLoggedIn$ | async; else notLoggedIn">
      <a mat-button routerLink="/add-ad">Hirdetésfeladás</a>
      <a mat-button routerLink="/profile">Profil</a>
      <a mat-button (click)="logout()">Kijelentkezés</a>
    </ng-container>

    <ng-template #notLoggedIn>
      <a mat-button routerLink="/login">Bejelentkezés</a>
      <a mat-button routerLink="/register">Regisztráció</a>
    </ng-template>
  </nav>

  <button mat-icon-button class="mobile-menu" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>